.book {
  padding: 4rem 2rem;
  background-color: var(--background-color);
  border: 1px solid black;
 
  width: 500px;
  justify-self: center;
  box-shadow: 0 4px 20px rgba(0, 18, 19, 0.534);
}
#booking{
  background-color: #ecf0f1;
 
  margin-top: 100px;
  border-radius: .5rem;
}

#booking h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

form {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

form .form-control, form .form-select, form textarea {
  border-radius: 5px;
  border: 1px solid var(--muted-text-color);
  padding: 0.75rem;
  font-size: 1rem;
}

form button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}