@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #0e3b43;

}


.electrician h1{
    text-align: center;
    font-family: 'Limelight',sans-serif;
    padding-bottom: 40px;
}
.card{
     display: flex;
     flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 300px;
    height: 350px;
    border-radius: 1rem;

}
h5{
    font-size: small;
}
.card img{
    height: 250px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.card p{
    padding-top: 5px;

}
.card .btn{
    width: 150px;
    height: 30px;
    border-radius: .5rem;
    text-align: center;
    background-color: rgb(18, 132, 174);
    color: white;

}

.det{
    padding: 10px;
    font-size: small;
}
.card:hover{
      
    transform: scale(1.01);
    transition: 0.5s;
}
.btn:hover{
    background-color: rgb(18, 72, 91);
      
    transform: scale(1.01);
    transition: 0.5s;
}

.containerr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 80px;
    padding: 0 20px;
     margin-left: 50px;
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card span{
    color: rgb(10, 173, 84);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .electrician h1, .service_h h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .electrician h1, .service_h h1 {
        font-size: 1.5rem;
    }

    .card img {
        height: 150px;
    }

    .card h5 {
        font-size: 1rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .card .btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}